*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    width: 100%;
    height: 80px;
    background:rgb(8, 27, 79);
    box-shadow: 0 0 8px rgb(18, 30, 69);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    }
.header .links{
    display: flex;
    align-items: center;
    justify-content: start;
    gap:40px;

}
.header .links a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(40, 35, 37);
    box-shadow: 0 0 8px rgb(47, 42, 42);
    font-weight: 520;
}
.header .links a:hover{
     color:rgb(255, 180, 235);
}
.header  .links button{
    padding: 8px 20px;
    background:  rgb(252, 141, 97);
    border: 2px solid #3e1f3e;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 520;
    transition: all ease-in 200ms;
}
.header .links button:hover{
     background: #1f0914;
     color:rgb(222, 221, 223);
}
.homepage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    gap:1em;
}
.homepage .content{
    flex-direction:column ;
    display: flex;
    align-items: start;
    justify-content:center ;
    gap:lem;

}
.homepage .content h1{
    font-size: 70px;
} 
.homepage .content h3{
    color:rgb(233, 75, 27)
} 
.header h2{
    font-size: 32px;  
}
.header .links a{
    color:whitesmoke;
} 
.header .links button{
    color: whitesmoke;
}
.homepage .content p{
    font-size: 16px;
    text-align:justify;
    color:rgb(13, 13, 13);
    line-height: 35px;
    margin-top: 10px;
}
.homepage img{
        width: 90%;
        height: 90%;
        object-fit: cover;
        box-shadow: 0 3px 3px;
        border-radius: 5%;
        display: flex;
        align-items: start;
        justify-content: center;
}

.card-container{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    gap:2em;
}
 .card-container .card{
    width: 30%;
    height: 40%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 10px;
    background: #f6f7f7;
    box-shadow: 0 4px 5px rgb(168, 144, 144);
    overflow: hidden;
    cursor: pointer;
    transition: all ease-in 0.2s;
}
.card-container .card:hover{
    box-shadow: 4px 8px 18px silver;
    transform:translateX(15px);

}
 .card-container .card img{
    width: 100%;
    height: 180%;
    object-fit: cover;
    transition: all ease-in 0.2s;  
}
 .card-container .card p{
    padding: 0.4;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;

}
.content{
    width: 100%;
    padding: 20px 5%;
    height: 70vh;
    background: white;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3em;

}
.content .text{
    width: 40%;
    height: 60%;
    color: black;
    margin-top: 2em;
   
}
.content .background {
    width: 40%;
    height: 100%;
    padding: 20px;
    gap: 2em;
}
.content .background.image1{
    background: url('background1.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.content .background.image2{
    background: url('background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: flex;
}
.content .text p{
    padding: 10px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
.footer{
    width: 100%;
    padding: 5em 5%;
    background: #2b3654;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
}
.footer .box{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 1.1em;
}
.footer .box h2{
    font-size: 1.25em;
    color: white;
    margin-bottom: 1em;
}
.footer .box p{
    font-size: 0.95em;
    color: whitesmoke;
    text-align: justify;
    line-height: 2em;
}
.footer .box .links{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.3em;
}
.footer .box .links a{
    font-size: 1.1em;
    color: whitesmoke;
    text-decoration: none;
    transition: all ease-in 0.2s;
    font-weight: 520;
}
.footer .box .links a:hover{
    transform: translateX(15px);
    color: blanchedalmond;
}
.copy-right{
    width: 100%;
    padding: 15px;
    background: #222246;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
